.catalog-cases-v2 {
    .cases-sticky {
        position: sticky;
        top: 69px;
        background: $c-gray-light;
        padding-top: 20px;
        z-index: 3;
    }

    .cases-categories {
        display: flex;
        row-gap: 10px;
        column-gap: 15px;
        flex-wrap: wrap;
        justify-content: center;
        border-bottom: 1px solid $c-border;
        padding-bottom: 15px;

        @include _768 {
            flex-wrap: nowrap;
            justify-content: flex-start;
            row-gap: 0px;
            column-gap: 15px;
            margin: 0 calc((100% - 100vw) / 2);
            padding: 0 15px 15px;
            overflow: auto;
            scrollbar-width: none;

            &::-webkit-scrollbar {
                width: 0;
                height: 0;
            }
        }
    }

    .single-case {
        color: $c-black;
        transition: all .3s;

        @include _768 {
            white-space: nowrap;
        }

        &:hover,
        &.active {
            color: $c-blue;
        }
    }

    .cases {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
        margin-top: 32px;

        @include _768 {
            grid-template-columns: 1fr;
        }

        .case-card {
            width: 100%;
            min-height: 650px;

            @include _1400 {
                min-height: 430px;
            }

            @include _1024 {
                min-height: 400px;
            }

            @include _768 {
                min-height: 320px;
            }
            
            &.hidden {
                display: none;
            }
        }
    }
}