.follow-us {
  .follow-us__content {
    display: flex;
    gap: 30px;
    justify-content: space-between;
    align-items: center;

    @include _992 {
      flex-direction: column;
      gap: 70px;
    }

    @include _480 {
      gap: 40px;
    }
  }

  .follow-us__main, .follow-us__side {
    width: 100%;
  }

  .follow-us__headline {
    @include _992 {
      text-align: center;
    }
  }

  .follow-us__button {
    display: block;
    padding: 25px;
    width: 100%;
    max-width: 330px;
    text-align: center;
    background: $c-blue;
    border-radius: 300px;
    color: $c-white;
    margin-top: 50px;
    border: 1px solid $c-blue;
    transition: $transition-anchor-btn;
    font-weight: 700;
    font-size: 20px;
    line-height: 140%;

    &:hover {
      background-color: $c-white;
      color: $c-blue;
    }

    @include _992 {
      margin:30px auto 0;
    }

    @include _480 {
      max-width: 230px;
      margin:30px auto 0;
      font-size: 14px;
    }
  }
}