.follow-us {
  .follow-us__content {
    display: flex;
    gap: 30px;
    justify-content: space-between;
    align-items: center;

    @include _992 {
      flex-direction: column;
      gap: 70px;
    }

    @include _480 {
      gap: 40px;
    }
  }

  .follow-us__main, .follow-us__side {
    width: 100%;
  }

  .follow-us__headline {
    @include _992 {
      text-align: center;
    }
  }

  .follow-us__button {
    display: block;
    width: 100%;
    max-width: 330px;
    text-align: center;
    margin-top: 30px;
    font-weight: 700;

    @include _992 {
      margin: 30px auto 0;
    }

    @include _480 {
      max-width: 230px;
      margin: 30px auto 0;
    }
  }
}