.follow-us {
  .follow-us__content {
    display: flex;
    gap: 30px;
    justify-content: space-between;
    align-items: center;
  }


  .follow-us__headline {
    font-weight: 600;
    font-size: 80px;
    line-height: 90px;
    letter-spacing: -0.06em;
  }

  .follow-us__button {
    display: block;
    padding: 25px;
    width: 100%;
    max-width: 330px;
    text-align: center;
    background: $c-blue;
    border-radius: 300px;
    color: $c-white;
    margin-top: 50px;
    border: 1px solid $c-blue;
    transition: $transition-anchor-btn;
    font-weight: 700;
    font-size: 20px;
    line-height: 140%;

    &:hover {
      background-color: $c-white;
      color: $c-blue;
    }
  }
}