.myths {
    .myths-wrapper {
        display: grid;
        grid-template-columns: 580px 1fr;
        gap: 110px;

        @include _1400 {
            grid-template-columns: 1fr;
            gap: 40px;
        }

        @include _1400 {
            gap: 24px;
        }
    }

    .sticky-wrap {
        position: relative;
    }

    .h5 {
        position: sticky;
        top: 100px;
    }

    .myths-question {
        padding: 16px 0;
        border-top: 1px solid #D4D4D4;
        position: relative;

        &:last-child {
            padding-bottom: 0;
        }

        @include _768 {
            padding-top: 10px;
        }

        .h6 {
            font-weight: 500;
            max-width: 95%;
        }

        .myths-question-top {
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 20px;
            cursor: pointer;
            margin-bottom: 20px;
            position: relative;

            @include _768 {
                margin-bottom: 10px;
            }
        }

        .line {
            position: absolute;
            top: 0;
            height: 1px;
            width: 137px;
            background: $c-blue;
            transition: all .5s ease-in-out;
            ;
        }

        .text-3 {
            color: $c-black;
            max-height: 0;
            transition: max-height .5s ease-out;
            overflow: hidden;

            ul {
                list-style: disc;
                margin-left: 20px;
            }

            ol {
                list-style: decimal;
                margin-left: 20px;
            }
        }

        .plus {
            transform: rotate(90deg);
        }

        .minus,
        .plus {
            min-width: 20px;
            min-height: 20px;
            transition: $transition;
            position: absolute;
            top: 0;
            right: 0;
        }

        &.js-active {
            .plus {
                transform: rotate(0);
            }

            .line {
                width: 100%;
            }

            .text-3 {
                max-height: 2000px;
                transition: max-height .5s ease-in;
            }
        }
    }
}