.catalog-cases-top {
  .catalog-top  {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    min-height: 430px;
    height: 100%;
    padding: 50px;
    border-radius: 60px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    @include _1024 {
        border-radius: 40px;
    }

    @include _768 {
      min-height: 100%;
      padding: 50px 20px;
    }

    .text-1 {
      margin-bottom: 18px;
      color: $c-blue;
    }

    .h2 {
      text-align: center;
      max-width: 1035px;
      margin: 0 auto;
    }
  }
}