.case-text {
  .case-text-wrap {
    margin: 0 auto;
    padding: 0 115px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;

    @include _1440 {
        padding: 0;
    }

    @include _768 {
      grid-template-columns: 1fr;
    }

    .case-text-column {
      .text-1 {
        color: $c-blue;
        margin-bottom: 40px;

        @include _768 {
          margin-bottom: 20px;
        }
      }

      .h5 {
        font-weight: 500;
        margin-bottom: 20px;

        @include _768 {
          margin-bottom: 20px;
        }
      }

      .text-2 {
        color: $c-black;

        @include _768 {
        }
      }
    }
  }
}