.instagram {
  background: $c-white;
  position: relative;
  height: 704px;
  z-index: 1;

  .container {
    position: relative;
  }

  @include _1400 {
    height: 700px;
  }

  @include _1024 {
    height: 822px;
    overflow: hidden;
  }

  @include _768 {
    height: 720px;
    margin-bottom: 40px;
  }

  @include _480 {
    height: 670px;
  }

  .container {
    height: 100%;
  }

  .instagram-image {
    position: absolute;
    right: 0px;
    bottom: 0;
    height: 679px;
    width: 798px;
    z-index: -1;
    pointer-events: none;

    img {
      height: 100%;
      object-fit: contain;
    }

    @include _1400 {
      right: 0;
      height: 557px;
      width: 650px;
    }

    @include _1024 {
      right: 0;
      bottom: -35px;
      left: 50%;
      width: 100%;
      height: 495px;
      transform: translateX(-50%);
    }

    @include _768 {
      padding: 0 24px;
      bottom: -90px;
      height: 550px;
      min-width: 542px;
    }
  }

  .instagram-wrapper {
    width: 100%;
    max-width: 540px;
    height: 100%;
    margin-left: 100px;

    @include _1400 {
      margin-left: 70px;
    }

    @include _1024 {
      max-width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-left: 0;
    }

    .btn {
      @include _1024 {
        margin: 0 auto;
      }
    }

    .sticky-wrap {
      position: sticky;
      top: 0px;
      padding: 150px 0;

      @include _768 {
        padding-top: 0;
        padding-bottom: 40px;
      }
    }

    .h3 {
      margin-bottom: 25px;
      font-weight: 500;

      @include _1024 {
        text-align: center;
      }
    }

    .subheadline {
      font-size: 28px;
      line-height: 28px;
      margin-bottom: 59px;
      color: $c-black;

      @include _1024 {
        text-align: center;
        font-size: 24px;
        line-height: 24px;
      }

      @include _768 {
        font-size: 18px;
        line-height: 18px;
      }
    }
  }
}