/* libs */
@import "libs/swiper";
@import "libs/fancybox";

/* GLOBAL */
@import "global/fonts";
@import "global/variables";
@import "global/reset";
@import "global/global";

/* PARTIALS */
@import "partials/header";
@import "partials/footer";
@import "partials/font-sizes";
@import "partials/404";


/* MODULES */
@import "modules/about-company/about-company";

