h1 {
  font-size: 170px;
  line-height: 163px;

  @include _1400 {
    font-size: 130px;
    line-height: 111.8px;
  }

  @include _1024 {
    font-size: 100px;
    line-height: 86px;
  }

  @include _768 {
    font-size: 58px;
    line-height: 49.88px;
  }

  @include _430 {
    font-size: 48px;
    line-height: 39.88px;
  }
}

.h2 {
  font-size: 80px;
  line-height: 105%;

  @include _768 {
    font-size: 42px;
    line-height: 44px
  }
}

.h3 {
  font-size: 64px;
  line-height: 67.2px;

  @include _1400 {
    font-size: 48px;
    line-height: 50.4px;
  }

  @include _768 {
    font-size: 32px;
    line-height: 33.6px;
  }
}

.h4 {
  font-size: 48px;
  line-height: 50.4px;

  @include _1400 {
    font-size: 33px;
    line-height: 33.6px;
  }

  @include _768 {
    font-size: 24px;
    line-height: 25.2px
  }
}

.h5 {
  font-size: 32px;
  line-height: 33.6px;
  font-weight: 500;

  @include _1400 {
    font-size: 24px;
    line-height: 25.2px
  }

  @include _768 {
    font-size: 22px;
    line-height: 23.1px;
  }
}

.h6 {
  font-size: 24px;
  line-height: 25.2px;

  @include _1400 {
    font-size: 20px;
    line-height: 21px;
  }

  @include _768 {
    font-size: 16px;
    line-height: 16.8px;
  }
}

.text-1 {
  font-size: 24px;
  line-height: 31.2px;

  @include _1400 {
    font-size: 20px;
    line-height: 26px;
  }

  @include _768 {
    font-size: 18px;
    line-height: 26px;
  }
}

.text-2 {
  font-size: 20px;
  line-height: 26px;

  @include _1400 {
    font-size: 18px;
    line-height: 23.4px;
  }

  @include _768 {
    font-size: 16px;
    line-height: 22px;
  }
}

.text-3 {
  font-size: 18px;
  line-height: 25.2px;

  @include _1400 {
    font-size: 14px;
    line-height: 20px;
  }
}

.text-4 {
  font-size: 16px;
  line-height: 20.8px;

  @include _1400 {
    font-size: 12px;
    line-height: 20px;
  }
}