html, body {
  position: relative;
}

body {
  font-family: $font;
  font-style: normal;
  font-weight: 400;
  background: $c-gray-light;
}

section {
  position: relative;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 40px;
  width: 100%;

  @include _768 {
    padding: 0 10px;
  }
}

.main {
  min-height: 100vh;
  font-weight: 400;
  font-size: 16px;
}

.anchor-helper {
  position: absolute;
  top: -100px;
}