html, body {
  position: relative;
}

body {
  font-family: 'Onest';
  font-style: normal;
  font-weight: 400;
}

.container {
  max-width: 1780px;
  margin: 0 auto;
  padding: 0 40px;
  width: 100%;

  @include _992 {
    padding: 0 15px;
  }
}

.main {
  min-height: 100vh;
  font-weight: 400;
  font-size: 16px;
}

h2 {
  font-family: 'CodeNext-Trial', sans-serif;;
  font-weight: 600;
  font-size: 80px;
  line-height: 90px;
  letter-spacing: -0.06em;

  @include _1280 {
    font-size: 70px;
    line-height: 70px;
  }

  @include _680 {
    font-size: 50px;
    line-height: 50px;
  }

  @include _375 {
    font-size: 40px;
    line-height: 40px;
  }
}

.distance {
  padding: 90px 0;
  @include _992 {
    padding: 50px 0;
  }
  @include _680 {
    padding: 30px 0;
  }
}

.visually-hidden {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(0px 0px 99.9% 99.9%);
  overflow: hidden;
  height: 1px;
  width: 1px;
  padding: 0;
  border: 0;
}