.site-breadcrumb,
.breadcrumb {
    display: flex;
    flex-wrap: wrap;
    column-gap: 8px;

    li {
        display: flex;
        align-items: center;
        column-gap: 8px;
        &:nth-last-child(2) .separator:before {
            background-color: $c-blue;
        }
    }

    .separator {
        font-size: 0px;
        color: $c-black;
        &:before {
            content: '';
            display: inline-block;
            width: 7px;
            height: 7px;
            border-radius: 50%;
            background-color: $c-gray;
            vertical-align: middle;
        }
    }

    .breadcrumb_last,
    .active {
        color: $c-blue;
    }

    a {
        color: $c-black;
        transition: $transition;

        &:hover {
            color: $c-blue;
        }
    }
}