.site-breadcrumb {
    display: flex;
    flex-wrap: wrap;
    column-gap: 8px;

    .separator {
        font-size: 0px;
        color: $c-gray;
        &:before {
            content: '';
            display: inline-block;
            width: 7px;
            height: 7px;
            border-radius: 50%;
            background-color: $c-gray;
            vertical-align: middle;
        }
        &:nth-last-child(2):before {
            background-color: $c-blue;
        }
    }

    .breadcrumb_last {
        color: $c-blue;
    }

    a {
        color: $c-gray;
        transition: $transition;

        &:hover {
            color: $c-blue;
        }
    }
}