footer {
    margin-top: 120px;

    @include _1400 {
        margin-top: 100px;
    }

    @include _1024 {
        margin-top: 40px;
    }

    background: $c-blue;

    .footer-wrapper {
        .bottom-wrap {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            gap: 30px;
            margin-bottom: 30px;

            picture {
                display: flex;
                align-items: center;
            }

            .bottom-wrap__logo img {
                max-width: 167px;
            }

            .bottom-wrap__socials {
                display: flex;
                gap: 19px;

                img {
                    width: 29px;
                    height: 29px;
                }

                @include _1440 {
                    display: none;
                }

                @include _768 {
                    display: flex;
                }
            }

            .bottom-wrap__requisites {
                display: none;

                @include _768 {
                    display: block;
                    text-align: center;
                }
            }

            .bottom-wrap__sale-email, .bottom-wrap__policy, .bottom-wrap__requisites {
                font-size: 18px;
                font-weight: 500;
                line-height: 22px;
                color: $c-white-opacity;
            }

            @include _1440 {
                grid-template-columns: repeat(3, 1fr);
                margin-bottom: 40px;
            }

            @include _768 {
                justify-items: center;
                grid-template-columns: 1fr;
                margin-bottom: 10px;
                gap: 15px;
            }
        }
    }
}

.modal-form {
    width: 100%;
    height: max-content;
    max-width: 500px;
    border-radius: 30px;
    display: none;

    .form-wrapper {
        height: 100%;
        display: flex;
    }

    .form-headline {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        padding: 24px;
    }
}