.wpcf7-not-valid-tip {
  display: none !important;
}

.wpcf7-spinner {
  display: none!important;
}

.wpcf7-response-output {
  border: unset!important;
  color: $c-white;
  text-align: center;
  margin-bottom: 0!important;
  padding-bottom: 0!important;
}