.wp-block-image {
    .aligncenter {
        text-align: center;
    }
    .alignleft {
        text-align: left;
    }
    .alignright {
        text-align: right;
    }
    img {
        max-width: 100%;
    }
}