header {
  height: max-content;
  position: fixed;
  z-index: 50;
  width: 100vw;
  display: flex;
  align-items: center;

  @include _1280 {
    margin-top: 14px;
  }

  .header__logo {
    max-width: 166px;

    @include _430 {
      max-width: 125px;
    }
  }

  .header__desktop {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    padding: 0 50px 0 50px;
    background: $c-white;
    height: 70px;
    border-radius: 300px;

    @include _1280 {
      padding: 0 50px;
    }

    @include _1024 {
      padding: 0 30px;
    }

    @include _768 {
      padding: 0 24px;
    }

    @include _375 {
      padding: 0 10px;
    }

    &.active {
      box-shadow: 0px 0px 15px 0px #7390EC1C;
    }

    .btn.white {
      @include _1280 {
        display: none;
      }
    }
  }

  .header__buttons {
    display: flex;
    position: relative;

    @include _1280 {
      display: none;
    }
  }

  .btn.white {
    width: max-content;
    min-width: 270px;
    font-size: 16px;
    line-height: 20.4px;
    color: $c-black;
  }

  .header__button {
    width: max-content;
    padding: 0 15px;
    text-align: center;
    cursor: pointer;
    color: $c-black;
    font-size: 16px;
    line-height: 20.4px;

    &:hover {
      color: $c-blue;
    }
  }

  .header__burger {
    display: none;

    svg {
      cursor: pointer;
      transition: $transition;
    }

    @include _1280 {
      display: block;
    }
  }

  .socials-wrapper {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    row-gap: 10px;
    column-gap: 15px;

    .social-card {
      padding: 7px 10px 7px 10px;
      background: $c-gray-light;
      border-radius: 20px;
      color: $c-black;
      margin: 11px 0 24px 0;

      p {
        font-size: 14px;
        line-height: 14.7px;
      }
    }
  }

  .header__mobile {
    max-height: 0;
    overflow: hidden;
    background: $c-white;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
  }

  .header__buttons-mobile {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 10px;
    column-gap: 15px;
    padding: 15px 0;
  }

  .header__button-mobile {
    color: $c-black;
    font-weight: 400;
    font-size: 16px;
    line-height: 20.4px;
  }

  .close {
    display: none;
  }

  &.active-menu {
    .header__mobile {
      max-height: 500px;
    }

    .header__desktop {
      border-radius: 20px 20px 0 0;
    }

    .burger {
      display: none;
    }

    .close {
      display: block;
    }

    .header__wrapper {

      @include _1280 {
        border-radius: 20px;
        box-shadow: 0px 0px 15px 0px rgba(101, 135, 241, 0.14);
      }

        .header__desktop {
          &.active {
            box-shadow: none;
          }
        }
    }
  }
}