header {
  height: max-content;
  background: $c-white;
  position: fixed;
  z-index: 50;
  left: 50%;
  transform: translate(-50%);
  width: 100%;
  display: flex;
  align-items: center;
  border-bottom: 1px solid $c-light-blue;

  .container {
    padding: 30px 0;
    max-width: 1780px;;
  }

  .header__wrapper {

  }

  .header__desktop {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    padding: 0 40px;
  }

  .header__buttons {
    display: flex;
    position: relative;
    gap: 5px;

    @include _1280 {
      display: none;
    }
  }

  .header__button {
    color: $c-light-blue;
    width: max-content;
    font-size: 15px;
    line-height: 19px;
    padding: 15px 20px;
    position: relative;
    z-index: 2;
    background-color: transparent;
    border: none;
    min-width: 160px;
    text-align: center;

    &:hover {
      background-color: transparent;
      border-color: transparent;
      color: $c-light-blue;
      box-shadow: 0 0 6px 0 rgba(23, 68, 208, 1);
    }

    &.active {
      color: $c-white;
    }
  }

  .header__burger {
    display: none;

    svg {
      cursor: pointer;
      transition: $transition-anchor-btn;
      fill: $c-light-blue;
    }

    &:hover {
      svg {
        fill: $c-blue;
      }
    }

    @include _1280 {
      display: block;
    }
  }


  .header__mobile {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.7s cubic-bezier(0, 1, 0, 1);
    background: $c-white;
  }

  .header__buttons-mobile {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 15px;
  }

  .header__button-mobile {
    padding: 16px;
    color: $c-blue;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    transition: $transition-anchor-btn;


    &:hover {
      color: $c-blue;
    }
  }

  &.active-menu {
    .header__mobile {
      max-height: 500px;
      transition: max-height 0.7s ease-in-out;
    }

    svg {
      fill: $c-blue;
    }

    .container {
      box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
    }
  }

  .header__socials {
    display: flex;
    gap: 10px;
    @include _680 {
      display: none;
    }
  }

  .header__social {
    max-width: 50px;
    max-height: 50px;
    cursor: pointer;
    transition: $transition-anchor-btn;

    &:hover {
      transform: scale(1.2);
    }
  }


  .header__socials.mobile {
    display: none;
    @include _680 {
      justify-content: center;
      padding: 20px 40px 0;
      display: flex !important;
    }
  }
}

.selector-mark {
  position: absolute;
  border-radius: 8px;
  left: 0;
  width: 0;
  height: 51px;
  border-radius: 300px;
  background: linear-gradient(
                  60deg,
                  $c-blue 0%,
                  blue 100%
  );
  z-index: 1;
  transition: $transition;
}