.steps {
    .steps-wrapper {
        display: grid;
        grid-template-columns: 1fr auto;
        gap: 135px;

        @include _1400 {
            grid-template-columns: 1fr 1.25fr;
            gap: 70px;
        }

        @include _1024 {
            grid-template-columns: 1fr;
            gap: 40px;
        }

        .h2 {
            position: sticky;
            margin-bottom: 20px;


            @include _768 {
                text-align: left;
            }
        }

        .text-1 {
            color: $c-blue;
            margin-bottom: 32px;

            @include _768 {
                text-align: left;
            }
        }

        .text-2 {
            color: $c-black;

            @include _768 {
                text-align: left;
            }
        }
    }

    .steps-left-container {
        position: sticky;
        top: 100px;

        .h4 {
            margin-bottom: 20px;
            font-weight: 500;
        }

    }

    .steps-left-photos {
        display: flex;
        margin-bottom: 40px;

        @include _1024 {
            margin-bottom: 30px;
        }

        @include _768{
            justify-content: flex-start;
        }
    }

    .steps-left-photo {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        overflow: hidden;
        
        @include _768 {
            width: 80px;
            height: 80px;
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: top;
        }

        & + .steps-left-photo {
            margin-left: -33px;
        }

        &:nth-child(1) {
            z-index: 3;
        }

        &:nth-child(2) {
            z-index: 2;
        }

        &:nth-child(3) {
            z-index: 1;
        }
    }

    .btn {
        margin-top: 40px;

        @include _1024 {
            margin: 10px auto 0;
        }
    }

    .steps-right {
        display: flex;
        flex-direction: column;
        gap: 20px;

        @include _1024 {
            grid-template-columns: 1fr;
        }
    }

    .steps-card {
        max-width: 670px;
        width: 100%;
        padding: 32px 48px 32px 32px;
        background: $c-white;
        border-radius: 20px;
        height: max-content;
        min-height: 242px;
        display: flex;
        flex-direction: column;

        @include _1400 {
            max-width: 100%;
        }

        @include _1024 {
            min-height: auto;
            padding: 24px;
        }

        .card-number {
            color: $c-blue;
            font-size: 20px;
            line-height: 26px;
            margin-bottom: 20px;

            @include _1024 {
                margin-top: 6px;
                margin-bottom: 50px;
            }

            @include _768 {
                font-size: 14px;
                line-height: 18.2px;
            }
        }

        .h6 {
            position: relative;
            font-weight: 500;
            margin-bottom: 20px;

            @include _768 {
                margin-bottom: 16px;
            }
        }

        .text-3 {
            color: $c-black;
            
            ul {
                list-style: disc;
                margin-left: 20px;
            }

            ol {
                list-style: decimal;
                margin-left: 20px;
            }

        }

        a {
            color: inherit;
            text-decoration: underline;
            &:hover {
                text-decoration: none;
            }
        }
    }

    .card-bottom {
        margin-top: auto;
    }
}