.result {
    overflow: hidden;
    margin: 60px 0;

    @include _1400 {
        margin: 50px 0;
    }

    @include _768 {
        margin: 0;
        padding: 20px 0;
    }

    @include _430 {
        padding: 15px 0;
    }

    &-wrapper {
        display: flex;
        flex-direction: column;
        gap: 60px;

        @include _768 {
            gap: 40px;
        }
    }

    &-top {
        .text-1 {
            color: $c-blue;
            margin-bottom: 40px;

            @include _768 {
                margin-bottom: 20px;
            }
        }

        .h5 {
            font-weight: 500;
            margin-bottom: 20px;
        }

        .text-2 {
            color: $c-black;

            ul {
                list-style: disc;
                margin-left: 20px;
            }

            ol {
                margin-left: 20px;
            }

            *+p,
            *+ul {
                margin-top: 20px;
            }
        }

        a:not(.btn) {
            color: inherit;
            text-decoration: underline;
            &:hover {
                text-decoration: none;
            }
        }

        .result-blocks {
            margin-top: 50px;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 20px;

            @include _1440 {
                margin-top: 40px;
            }

            @include _1024 {
                grid-template-columns: repeat(2, auto);
                justify-content: center;
                column-gap: 40px;
                row-gap: 20px;
            }
        }

        .result-block {
            .h5 {
                font-weight: 500;
                margin-bottom: 0px;
            }

            @include _1024 {
                text-align: center;
            }

            @include _768 {
                text-align: left;
            }

            .text-2 {
                color: $c-black;
            }
        }
    }

    .result-bottom__wrap {
        display: flex;
        flex-direction: column;
        gap: 30px;
    }

    &-bottom {
        display: flex;
        flex-direction: column;
        max-width: 100%;
        .result-picture {
            &.cover {
                height: min(30vw, 450px);
                
                @include _1024 {
                    height: min(40vw, 450px);
                }

                @include _768 {
                    height: min(70vw, 350px);
                }

                img {
                    object-fit: cover;
                    height: 100%;
                }
            }

            &.contain {
                height: min(24vw, 100%);
                                
                @include _1024 {
                    height: min(40vw, 100%);
                }
                
                @include _768 {
                    height: min(100vw, 100%);
                }

                text-align: center;

                img {
                    object-fit: contain;
                    height: 100%;
                }
            }

            img {
                border-radius: 20px;
                width: 100%;
                object-position: center;
            }
        }

        &.swiper-autoheight {
            .result-picture.contain {
                height: auto;
            }
        }

        .full-width__img {
          width: 100%;
          height: auto;  
        }

        .pagination {
            display: flex;
            justify-content: center;
            gap: 5px;
            margin-top: 20px;

            .swiper-pagination-bullet {
                margin: 0;
                background: $c-blue-light;
                outline: none;
            }

            .swiper-pagination-bullet-active {
                background: $c-blue;
            }

            span {
                width: 16px;
                height: 16px;

                @include _768 {
                    width: 14px;
                    height: 14px;
                }
            }
        }

        .swiper-pagination-lock {
            display: none !important;
        }
    }
}