.feedback {

  .feedback__headline {
    font-weight: 600;
    font-size: 80px;
    line-height: 90px;
    text-align: center;
    letter-spacing: -0.06em;
  }

  .feedback__cards {
    padding-top: 80px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px
  }

  .feedback__card {
    font-style: normal;
    font-size: 20px;
    line-height: 102%;
    text-align: center;
  }

  .feedback__client {
    font-weight: 800;
  }

  .feedback__image {
    padding-top: 15px;
  }
}