.feedback {

  .feedback__headline {
    text-align: center;
    padding-bottom: 60px;

    @include _680 {
      padding-bottom: 40px;
    }
  }

  .feedback__cards {
    padding-top: 80px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px
  }

  .feedback__card {
    font-style: normal;
    font-size: 20px;
    line-height: 102%;
    text-align: center;
    position: relative;
    z-index: 5;
  }


  .swiper {
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    height: auto;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .feedback__btn-play {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  svg {
    width: 62px;
    height: 62px;
  }

  .feedback__image img {
    max-height: 240px;
    height: 100%;

    @include _680 {
      max-height: 200px;
    }
  }
}