.feedback {

  .feedback__headline {
    text-align: center;
    padding-bottom: 80px;

    @include _992 {
      padding-bottom: 60px;
    }

    @include _680 {
      padding-bottom: 40px;
    }
  }

  .feedback__cards {
    padding-top: 80px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px
  }

  .feedback__card {
    font-style: normal;
    font-size: 20px;
    line-height: 102%;
    text-align: center;
  }

  .feedback__client {
    font-weight: 800;
  }

  .feedback__image {
    padding-top: 15px;
  }

  .swiper {
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    height: auto;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}