.contact-form {
    .form-wrapper {
        display: grid;
        grid-template-columns: 555px 1fr;
        gap: 20px;

        @include _1400 {
            gap: 10px;
            grid-template-columns: 1fr;
        }

        &.half {
            grid-template-columns: repeat(2, 1fr);

            @include _1400 {
                grid-template-columns: 1fr;
            }

            .contact-form__footer a {
                padding-right: 20px;
            }
        }
    }

    .form-left {
        position: relative;
        display: flex;
        flex-direction: column;
        padding: 60px 60px 50px 60px;
        border-radius: 60px;
        background: $c-white;
        overflow: hidden;

        @include _1400 {
            height: 466px;
        }

        @include _1024 {
            border-radius: 40px;
        }

        @include _768 {
            height: 360px;
            padding: 24px 25px;
        }

        .h4 {
            font-weight: 500;

            @include _1400 {
                max-width: 561px;
            }

            @include _768 {
                max-width: 100%;
                text-align: left;
            }
        }

        .form-icon-wrap {
            margin-top: 24px;
            display: flex;
            align-items: center;
            gap: 22px;

            @include _768 {
                justify-content: center;
                margin-bottom: 20px;
            }

            .form-icons {
                display: flex;
            }

            .form-icon {
                width: 75px;
                height: 75px;
                border-radius: 50%;
                overflow: hidden;
                
                @include _768 {
                    
                }
        
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
        
                & + .form-icon {
                    margin-left: -33px;
                }
        
                &:nth-child(1) {
                    z-index: 3;
                }
        
                &:nth-child(2) {
                    z-index: 2;
                }
        
                &:nth-child(3) {
                    z-index: 1;
                }
            }

            .text-1,
            .text-2,
            .text-3 {
                max-width: 302px;
            }
        }

        .social-wrap {
            display: flex;
            gap: 15px;
            align-items: center;
            margin-top: 15px;

            @include _768 {
                justify-content: center;
            }
        }

        .left-bottom {
            margin-top: auto;
            z-index: 2;

            .h6 {
                font-weight: 500;
                max-width: 323px;

                @include _768 {
                    text-align: center;
                    margin: 0 auto;
                }
            }
        }

        .left-overlay {
            position: absolute;
            right: 0;
            bottom: 0;

            @include _768 {
                display: none;
            }

            picture {
                display: flex;
            }
        }
    }

    .form-right {
        padding: 50px;
        background: linear-gradient(180.14deg, #1744D0 0.11%, #003BC5 99.87%);
        border-radius: 60px;

        @include _1024 {
            border-radius: 40px;
        }

        @include _768 {
            padding: 24px;
        }

        .h5 {
            text-align: center;
            color: $c-white;
            font-weight: 500;
            margin-bottom: 39px;

            @include _768 {
                margin-bottom: 20px;
                text-align: left;
            }
        }

        .contact-form__form {
            display: flex;
            flex-direction: column;
            gap: 20px;

            @include _1400 {
                flex-wrap: wrap;
                flex-direction: row;
                gap: 14px;
            }
        }

        .form-input {
            position: relative;

            &:hover {
                label {
                    color: $c-white;
                }
            }

            label {
                position: absolute;
                top: 10px;
                left: 0;
                font-size: 16px;
                line-height: 1em;
                color: $c-gray-light;
                transition: $transition;

                @include _768 {
                    position: relative;
                    top: 2px;
                    font-size: 14px;
                }

                &:has(+ span input:focus) {
                    top: -8px;
                    font-size: 12px;
                    color: $c-white;

                    @include _1400 {
                        top: -2px;
                    }

                    @include _768 {
                        top: 2px;
                        font-size: 14px;
                    }
                }
            }

            input {
                width: 100%;
                padding: 10px 0px 8px;
                font-size: 16px;
                color: $c-white;
                border: none;
                border-bottom: 1px solid #265FEB;
                background: inherit;
                transition: $transition;

                @include _1400 {
                    padding: 14px 0px 4px;
                    font-size: 14px;
                    line-height: 19.6px;
                }

                @include _768 {
                    padding: 0 0 6px;
                    line-height: 1em;
                }

                &:hover,
                &:focus {
                    border-color: $c-blue-light;
                }

                &:focus-visible {
                    outline: unset;
                }
            }

            &.filled {
                label {
                    top: -8px;
                    font-size: 12px;
                    color: $c-white;
                    
                    @include _1400 {
                        top: -2px;
                    }

                    @include _768 {
                        top: 2px;
                        font-size: 14px;
                    }
                }

                input {
                    border-color: $c-blue-light;
                }
            }

            @include _1400 {

                &:nth-child(1),
                &:nth-child(2) {
                    width: calc(50% - 7px);
                }

                width: 100%;
            }

            @include _768 {
                width: 100% !important;
                display: flex;
                flex-direction: column;
            }
        }

        .contact-form__footer {
            margin-top: 60px;
            display: flex;
            align-items: center;
            justify-content: space-between;

            .btn.white {
                @include _768 {
                    max-width: 100%;
                    height: 60px;
                }
            }

            a {
                padding-right: 49px;
                color: $c-white;
                font-size: 18px;
                line-height: 19px;
            }

            @include _1400 {
                margin-top: 32px;
            }

            @include _768 {
                margin-top: 20px;
            }

            .contact-form__form-send {
                @include _768 {
                    display: none;
                }
            }
        }

        &.modal-mode {
            border-radius: 30px;
            padding: 16px;

            .h5 {
                margin-bottom: 20px;
            }

            .contact-form__form {
                flex-wrap: wrap;
                flex-direction: row;
                gap: 20px;

                @include _1400 {
                    gap: 14px;
                }
            }

            .form-input {
                width: 100% !important;
            }

            .contact-form__footer {
                .btn.white {
                    max-width: 100%;
                }

                margin-top: 20px;
            }

            .contact-form__form-send {
                display: none;
            }
        }
    }
}

#modal-feedback-form .carousel__button.is-close {
    margin: 0;
    right: -20px;
    background: #fff;
    top: -20px;

    @include _768 {
        right: 0;
        top: -37px;
    }
}

.wpcf7-not-valid {
    border-color: #e35d5d !important;
}