.contact-form {
  .form-wrapper {
    display: grid;
    grid-template-columns: 555px 1fr;
    gap: 20px;

    @include _1400 {
      gap: 10px;
      grid-template-columns: 1fr;
    }
  }

  .form-left {
    background: $c-white;
    border-radius: 60px;
    padding: 60px 60px 50px 60px;
    display: flex;
    flex-direction: column;
    height: 650px;
    position: relative;

    @include _1400 {
      height: 466px;
    }

    @include _1024 {
      border-radius: 40px;
    }

    @include _768 {
      height: 374px;
      padding: 24px 25px;
    }

    .h4 {
      font-weight: 500;

      @include _1400 {
        max-width: 561px;
      }

      @include _768 {
        text-align: center;
      }
    }

    .form-icon-wrap {
      margin-top: 24px;
      display: flex;
      align-items: center;
      gap: 22px;

      @include _768 {
        justify-content: center;
      }

      .text-1 {
        max-width: 264px;
      }
    }

    .social-wrap {
      display: flex;
      gap: 15px;
      align-items: center;
      margin-top: 15px;

      @include _768 {
        justify-content: center;
      }
    }

    .left-bottom {
      margin-top: auto;
      z-index: 2;

      .h6 {
        font-weight: 500;
        max-width: 323px;

        @include _768 {
          text-align: center;
          margin: 0 auto;
        }
      }
    }

    .left-overlay {
      position: absolute;
      right: 0;
      bottom: 0;

      @include _768 {
        display: none;
      }
    }
  }

  .form-right {
    padding: 50px;
    background: linear-gradient(180.14deg, #1744D0 0.11%, #003BC5 99.87%);
    border-radius: 60px;

    @include _1024 {
      border-radius: 40px;
    }

    @include _768 {
      padding: 24px;
    }

    .h5 {
      text-align: center;
      color: $c-white;
      font-weight: 500;
      margin-bottom: 39px;

      @include _768 {
        margin-bottom: 20px;
      }
    }

    .contact-form__form {
      display: flex;
      flex-direction: column;
      gap: 20px;

      @include _1400 {
        flex-wrap: wrap;
        flex-direction: row;
        gap: 10px;
      }
    }

    .form-input {
      input {
        width: 100%;
        padding: 20px 30px;
        border: 1px solid #265FEB;
        border-radius: 300px;
        color: $c-white;
        background: inherit;
        font-size: 16px;
        line-height: 22.4px;

        @include _1400 {
          font-size: 14px;
          line-height: 19.6px;
        }

        @include _768 {
          font-size: 12px;
          line-height: 16.8px;
        }

        &::placeholder {
          color: $c-blue-light;
        }

        &:focus {
          border-color: $c-blue-light;
        }

        &:focus::placeholder {
          color: $c-white;
        }

        &:focus-visible {
          outline: unset;
        }
      }

      @include _1400 {
        &:nth-child(1), &:nth-child(2) {
          width: calc(50% - 5px);
        }

        &:nth-child(3), &:nth-child(4) {
          width: 100%;
        }
      }

      @include _768 {
        width: 100%!important;
      }
    }

    .contact-form__footer {
      margin-top: 104px;
      display: flex;
      align-items: center;
      justify-content: space-between;

      .btn-white {
        @include _768 {
          max-width: 100%;
        }
      }

      a {
        padding-right: 49px;
        color: $c-white;
        font-weight: 500;
        font-size: 20px;
        line-height: 21px;

        &:hover {
          text-decoration: underline;
        }
      }

      @include _1400 {
        margin-top: 32px;
      }

      @include _768 {
        margin-top: 20px;
      }

      .contact-form__form-send {
        @include _768 {
          display: none;
        }
      }
    }
  }
}