.articles {
    scroll-margin-top: 100px;

    .h3 {
        text-align: center;
    }

    .articles-wrapper {
        position: relative;
    }

    .articles-sticky {
        position: sticky;
        top: 69px;
        background: $c-gray-light;
        padding-top: 10px;
        z-index: 2;

        .mobile-headline {
            display: none;
        }

        @include _768 {
            .h3 {
                display: none;
            }

            .h3.mobile-headline {
                display: block;
            }
        }
    }

    .articles-categories {
        // margin-top: 32px;
        display: flex;
        row-gap: 10px;
        column-gap: 30px;
        flex-wrap: wrap;
        justify-content: center;
        border-bottom: 1px solid $c-border;
        padding-top: 15px;
        padding-bottom: 15px;

        @include _768 {
            flex-wrap: nowrap;
            justify-content: flex-start;
            row-gap: 0px;
            column-gap: 15px;
            margin: 20px calc((100% - 100vw) / 2) 0;
            padding: 0 15px 15px;
            overflow: auto;
            scrollbar-width: none;

            &::-webkit-scrollbar {
                width: 0;
                height: 0;
            }
        }
    }

    .single-article {
        cursor: pointer;

        @include _768 {
            white-space: nowrap;
        }

        &.js-active {
            color: $c-blue;
        }
    }

    .articles-cards {
        display: grid;
        gap: 20px;
        grid-template-columns: repeat(3, 1fr);
        padding-top: 40px;

        @include _1280 {
            grid-template-columns: repeat(2, 49%);
        }

        @include _768 {
            padding-top: 68px;
            gap: 10px;

        }

        @include _480 {
            padding-top: 30px;
            grid-template-columns: 1fr;
        }
    }

    .article-card {
        padding: 20px;
        background: $c-white;
        border-radius: 20px;
        display: flex;
        flex-direction: column;

        @include _1024 {
        }

        @include _768 {
            min-height: 378px;
        }

        &.hidden {
            display: none;
        }

        img {
            max-height: 190px;
            min-height: 190px;
            object-fit: cover;
            border-radius: 10px;
        }
    }

    .article-card-content {
        margin-top: 20px;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 40px;

        @include _1024 {
            padding: 0;
        }

        @include _480 {
            gap: 30px;
        }

        .h6 {
            margin-bottom: 10px;
            font-size: 18px;
            font-style: normal;
            font-weight: 500;
            line-height: 104%; /* 18.72px */
            letter-spacing: -0.18px;
        }

        .article-card-content-description {
            color: $c-black;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 130%; /* 20.8px */
            @include _480 {
                font-size: 14px;
            }
        }
    }

    .article-card-content-bottom {
        display: flex;
        align-items: center;

        @include _480 {
            justify-content: space-between;
            gap: 10px;
        }

        .btn {
            font-size: 14px;
            line-height: 140%;
            max-width: 100%;
            width: 100%;
            padding: 15px 30px;

            @include _1280 {
                padding: 9px 20px;
            }

            @include _1024 {
                padding: 15px 30px;
                font-weight: 500;
            }

            @include _430 {
                padding: 15px 0px;
                // max-width: 195px;
                width: 100%;
                min-width: 150px;
            }
        }

        .text-4 {
            position: relative;
            color: $c-black;
            border-radius: 0px;

            @include _1024 {
                font-size: 14px;
            }
        }
    }
    .page-nav-container {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 60px;
        gap: 10px;
        &:empty {
            display: none;
        }
        @include _480 {
            gap: 6px;
        }
        .page-numbers {
            width: 35px;
            height: 35px;
            text-align: center;
            font-size: 24px;
            line-height: 39px;
            letter-spacing: -0.015em;
            color: $c-black;
            svg {
                vertical-align: middle;
            }
            &.current {
                color: $c-blue;
            }
        }
        a {
            transition: color 0.22s ease-in-out;
            &:hover {
                color: $c-blue;
            }
        }
        .prev {
            svg {
                transform: rotate(180deg);
            }
        }
        .next, 
        .prev {
            line-height: 35px;
            path {
                stroke: $c-black;
                transition: stroke 0.22s ease-in-out;
            }
            &:hover {
                path {
                    stroke: $c-blue;
                }
            }
        }
    }
}
