.breadcrumbs {
    margin-top: -90px;
    margin-bottom: -45px;

    @include _1400 {
        margin-top: -70px;
        margin-bottom: 0px;
    }

    @include _768 {
        margin-top: -20px;
        margin-bottom: 0px;
        padding: 0;
    }

    &-wrap {
        padding-left: 50px;

        @include _1024 {
            padding-left: 30px;
        }

        @include _768 {
            padding-left: 0px;
        }
    }

    .breadcrumbs-page-title {
        display: flex;
        justify-content: center;
        margin-top: -26px;
        @include _480 {
            margin-top: 20px;
        }
    }
}

.breadcrumbs-with-title {
    padding-top: 30px !important;
}