.promotion {
  .promotion__headline {
    text-align: center;

    span {
      color: $c-blue;
    }
  }

  .promotion__button {
    display: block;
    width: 100%;
    max-width: 300px;
    padding: 30px;
    text-align: center;
    background: $c-blue;
    border: 1px solid $c-blue;
    border-radius: 300px;
    color: $c-white;
    margin: 70px auto 0;
    transition: $transition-anchor-btn;
    font-size: 20px;
    line-height: 25px;

    &:hover {
      background-color: $c-white;
      color: $c-blue;
    }

    @include _992 {
      margin: 50px auto 0;
    }
    @include _680 {
      font-size: 14px;
      line-height: 18px;
      margin: 20px auto 0;
    }

  }
}