.seo-text {
    &-wrapper {
        display: grid;
        grid-template-columns: 555px 1fr;
        gap: 20px;

        @include _1400 {
            grid-template-columns: 1fr;
        }
    }

    &-left {
        .text-2 {
            margin-top: 24px;
            color: $c-gray;

            @include _1400 {
                margin-top: 10px;
            }
            
            @include _768 {
                margin-top: 6px;
            }
        }
    }

    &-right {
        position: relative;
        padding-bottom: 40px;
        border-bottom: 1px solid $c-border;

        &::after {
            content: "";
            position: absolute;
            bottom: -1px;
            left: 0;
            width: 33.333%;
            height: 1px;
            background-color: $c-blue;
        }

        @include _1400 {
            padding-bottom: 30px;
        }
                
        @include _1024 {
            padding-bottom: 20px;
        }
        
        @include _768 {
            padding-bottom: 15px;
        }

        .text-3 {
            color: $c-gray;

            strong {
                font-weight: 400;
                color: $c-black;
            }

            p + p,
            p + ul,
            p + ol {
                margin-top: 1em;
            }
        }
    }
}