.team {
  .btn {
    @include _1024 {
      margin: 0 auto;
    }
  }

  .team-wrapper {
    padding: 80px 60px 80px 60px;
    background: $c-white;
    display: grid;
    grid-template-columns: 1fr 482px;
    gap: 147px;
    border-radius: 50px;

    @include _1400 {
      padding: 59px 49px 77px 100px;
      grid-template-columns: 1fr 326px;
      gap: 108px;
    }

    @include _1024 {
      padding: 50px 60px;
      grid-template-columns: 1fr;
      align-items: center;
      gap: 36px;
      border-radius: 40px;
    }

    @include _768 {
      padding: 24px;
    }
  }

  .team-wrapper__left {
    display: flex;
    flex-direction: column;
    justify-content: center;

    .h3 {
      font-weight: 500;
      margin-bottom: 40px;
      color: $c-black;

      @include _1024 {
        text-align: center;
      }
    }

    .text-2 {
      color: $c-gray;
      margin-bottom: 24px;

      @include _1024 {
        text-align: center;
      }
    }
  }

  .team-wrapper__right {
    @include _1024 {
      width: 100%;
      max-width: 480px;
      margin: 0 auto;
    }
  }
}