.team {
  h2 {
    text-align: center;
  }

  img {
    border-radius: 10px;
  }

  .team-wrapper-mobile {
    display: none;

    @include _680 {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 10px;
      margin-top: 31px;

      img {
        height: 200px;
        width: 100%;
        object-fit: cover;
        object-position: top;
      }
    }
  }

  .team-wrapper-desktop {
    margin-top: 49px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 8px;

    @include _992 {
      margin-top: 52px;
    }

    @include _680 {
      display: none;
    }
  }

  .team-col-1 {
    margin-top: 97px;

    @include _992 {
      margin-top: 58px;
    }

    @include _768 {
      margin-top: 55px;
    }
  }

  .team-col-2 {
    margin-top: 29px;

    @include _992 {
      margin-top: 20px;
    }

    @include _768 {
      margin-top: 8px;
    }
  }

  .team-col-4 {
    margin-top: 76px;

    @include _992 {
      margin-top: 51px;
    }

    @include _768 {
      margin-top: 35px;
    }
  }

  .col {
    display: flex;
    flex-direction: column;
    gap: 29px;
  }

  .team-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .name {
      font-weight: 700;
    }

    .position {
      font-weight: 400;
      margin-bottom: 12px;

      @include _992 {
        margin-bottom: 8px;
      }
    }

    p {
      font-size: 15px;
      line-height: 100%;
      text-align: center;

      @include _992 {
        font-size: 14px;
        line-height: 16px;
      }
    }
  }
}