.catalog-cases {
  .cases {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;

    @include _1024 {
      grid-template-columns: 1fr;
    }

    .case-card {
      width: 100%;
      min-height: 650px;

      @include _1400 {
        min-height: 500px;
      }

      @include _768 {
        min-height: 400px;
      }
    }
  }

  .cases-right {
    margin-top: 89px;
    display: flex;
    flex-direction: column;
    gap: 20px;

    @include _768 {
      margin-top: 0;
      gap: 10px;
    }
  }

  .cases-left {
    display: flex;
    flex-direction: column;
    gap: 20px;

    @include _768 {
      gap: 10px;
    }
  }
}