.hero {
  h1 {
    letter-spacing: -12px;
    font-weight: 400;

    @include _1024 {
      text-align: center;
      letter-spacing: -9.37px;
    }

    @include _768 {
      letter-spacing: -5.36px;
    }

    span {
      color: $c-blue;
    }
  }

  .hero__wrapper {
    padding: 120px 50px 50px 50px;
    background: $c-white;
    border-radius: 60px;

    @include _1024 {
        border-radius: 40px;
    }

    @include _1024 {
      padding: 100px 30px 30px 30px;
    }

    @include _768 {
      padding: 100px 24px 24px 24px;
    }

    @include _375 {
      padding: 100px 10px 10px 10px;
    }
  }

  .hero__main {
    position: relative;
    margin-bottom: 50px;

    @include _1400 {
      margin-bottom: 40px;
    }
  }

  .hero__main-image {
    position: absolute;
    top: 22px;
    right: 6px;
    border-radius: 50%;
    overflow: hidden;

    picture {
      display: flex;
    }

    svg {
      position: absolute;
      top: 31%;
      left: 38%;
      animation: pulse 2s infinite;
    }

    @keyframes pulse {
      0% {
        transform: scale(1);
      }
      50% {
        transform: scale(1.2);
      }
      100% {
        transform: scale(1);
      }
    }

    @include _1400 {
      position: absolute;
      width: 105px;
      height: 105px;
      top: 125px;
      right: 0;
      left: 570px;
    }

    @include _1024 {
      position: relative;
      top: 0;
      left: 0;
      right: 0;
    }

    @include _768 {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      top: -100px;
    }
  }

  .hero__main-subheadline {
    position: absolute;
    top: 215px;
    right: 0;
    max-width: 441px;
    letter-spacing: -1px;

    @include _1400 {
      position: relative;
      top: unset;
      right: unset;
    }

    @include _768 {
      text-align: center;
    }
  }

  .hero__main-button-wrapper {
    padding: 14px 14px 14px 46px;
    display: flex;
    gap: 31px;
    width: 100%;
    max-width: 347px;
    max-height: 102px;
    border-radius: 219px;
    background: $c-blue;
    position: absolute;
    bottom: 20px;
    right: 0;

    @include _1400 {
      position: relative;
      bottom: unset;
      right: unset;
    }

    @include _1024 {
      padding: 5px 5px 5px 46px;
      max-width: 450px;
      max-height: 80px;
      justify-content: space-between;
    }

    @include _768 {
      max-width: 100%;
    }

    .text-4 {
      color: $c-white;
      max-width: 182px;
      display: flex;
      align-items: center;

      @include _1024 {
        max-width: 247px;
      }

      @include _768 {
        font-size: 12px;
        line-height: 15.3px;
        max-width: 184px;
      }
    }

    a {
      border-radius: 219px;
      background: $c-white;
      color: $c-blue;
      width: 100%;
      max-width: 74px;
      height: 74px;
      transition: $transition;
      display: flex;
      align-items: center;
      justify-content: center;

      @include _1024 {
        max-width: 70px;
        height: 70px;
      }

      @include _768 {
        max-width: 46px;
        height: 46px;
        font-size: 12px;
        line-height: 15.3px;
      }

      &:hover {
        transform: scale(1.2);

        @include _1024 {
          transform: scale(1.0);
        }
      }
    }
  }

  .subheadline-button-wrapper {
    @include _1400 {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-top: 48px;
    }

    @include _1024 {
      justify-content: center;
      margin-top: 40px;
      flex-wrap: wrap;
      column-gap: 32px;
      row-gap: 60px;
    }

    @include _768 {
      margin-top: 32px;
      flex-wrap: nowrap;
      flex-direction: column;
      row-gap: 57px;
    }
  }
}

#hero-video {
  border-radius: 0;

  video {
    width: 100%;
    height: calc(100% + 1px);
    margin-top: -1px;
  }

  .carousel__button.is-close {
    margin: 0;
    right: -20px;
    background: $c-white;
    top: -20px;

    @include _768 {
      right: -20px;
      top: -20px;
    }
  }
}

.hero__profit {
  margin-top: 190px;

  @include _1400 {
    margin-top: 0;
  }

  .h3 {
    text-align: center;
    font-weight: 500;
    margin: 0 auto;
    max-width: 914px;

    @include _1400 {
      max-width: 685px;
    }

    @include _768 {
      max-width: 100%;
      text-align: left;
    }

    span {
      color: $c-blue;
    }
  }

  .hero__profit-cards {
    margin-top: 60px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;

    @include _1400 {
      margin-top: 40px;
      gap: 15px;
    }

    @include _1024 {
      grid-template-columns: repeat(2, 1fr);
      gap: 10px;
    }

    @include _768 {
      grid-template-columns: 1fr;
    }
  }

  .profit-card {
    height: 370px;
    border-radius: 20px;
    padding: 30px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    @include _1400 {
      height: 249px;
    }

    @include _768 {
      height: 200px;
    }

    .h5 {
      font-weight: 500;
      margin-bottom: 9px;
      color: $c-blue;
    }
  }
}

.marquee-tag {
  font-size: 14px !important;
  line-height: 17.85px !important;
  padding: 6px 15px;
  border: 1px solid $c-blue;
  border-radius: 300px;
  margin: 0 10px;
}

.marquee-container {
  margin-bottom: 50px;
  overflow: hidden;
  display: flex;
  align-items: center;
  min-height: 34px;
  margin-left: -50px;
  width: calc(100% + 100px);

  @include _1024 {
    margin-left: -30px;
    width: calc(100% + 60px);
  }

  @include _768 {
    margin-left: -24px;
    width: calc(100% + 48px);
  }

  @include _375 {
    margin-left: -10px;
    width: calc(100% + 20px);
  }

  @include _1400 {
    margin-bottom: 40px;
  }
}