.hero {
  margin-top: 100px;
  //min-height: calc(100vh - 100px);
  //display: flex;
  //align-items: center;

  //@include _992 {
  //  min-height: auto;
  //}

  h2 {
   text-align: center;
  }

  .hero-photos {
    display: flex;
    justify-content: center;
    padding: 75px 120px 75px 0;

    @include _680 {
      padding: 15px 0 0 0;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 8px;
    }
  }

  .swiper-hero {
    overflow: hidden;
  }

  .hero-photo {
    margin-right: -120px;
    width: 100%;
    max-width: 250px;

    @include _680 {
      margin-right: 0;
      margin-bottom: 0;
      display: flex;
      justify-content: center;

      img {
        max-width: 150px;
      }
    }
  }
  .hero-photo:first-child {
    margin-right: 40px;

    @include _680 {
      padding-right: 0;
      margin-bottom: 0;
      margin-right: 0;
    }
  }

  .hero-photo img {
    border-radius: 100%;
  }

  .hero-footer {
    display: flex;
    padding: 6px 6px 6px 40px;
    background-color: $c-blue;
    margin: 0 auto;
    border-radius: 300px;
    color: $c-white;
    width: 100%;
    max-width: 700px;
    align-items: center;
    gap: 30px;
    font-family: 'Onest';
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;

    @include _680 {
      border-radius: 10px;
      flex-direction: column;
      padding: 20px 30px;
    }
  }
  .hero-information {
    font-size: 15px;
    line-height: 19px;

    @include _680 {
      text-align: center;
    }
  }
  .hero-btn {
    padding: 20px 100px;

    @include _992 {
      padding: 15px 40px;
    }
  }
}

.effective-marketing {
  .effective-marketing__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;

    @include _680 {
      flex-direction: column;
    }
  }

  .effective-marketing__main {
    width: 60%;

    @include _680 {
      width: 100%;
    }
  }

  .effective-marketing__headline {
    font-size: 70px;
    line-height: 66px;
    font-weight: 600;
    text-align: start;

    @include _992 {
      font-size: 42px;
      line-height: 47px;
      text-align: center;
    }

    span {
      color: $c-blue;
    }
  }

  .effective-marketing__description {
    padding-top: 30px;

    @include _680 {
      padding-top: 15px;
    }
  }

  .effective-marketing__tags {
    padding-top: 20px;
    display: flex;
    gap: 5px;
    flex-wrap: wrap;
    margin-bottom: 75px;

    @include _680 {
      padding-top: 20px;
      justify-content: center;
      margin-bottom: 0;
    }
  }

  .effective-marketing__tag {
    span {
      color: $c-blue;
    }
  }

  .effective-marketing__side {
    img {
      max-height: 641px;
    }

    @include _680 {
      display: none;
    }
  }

  .effective-marketing__side-mobile {
    display: none;
    padding-top: 40px;

    @include _680 {
      display: block;
      padding-top: 30px;
    }
  }

  .effective-marketing__btn {
    padding: 20px 100px;

    @include _992 {
      padding: 15px 40px;
    }
  }

  .text-and-button {
    @include _1280 {
      display: none;
    }
  }

  .text-and-button-mobile {
    .text-and-button {
      margin-top: 34px;
      display: none;

      @include _1280 {
        display: flex;
      }
    }
  }
}
