.contacts {
    &,
    &.distance {
        padding: 100px 0;
        overflow: hidden;
        @include _1024 {
            padding: 80px 0 100px;
        }
        @include _620 {
            padding: 60px 0 40px;
        }
        &:first-child {
            margin-top: -70px;
            padding-top: 170px;
            @include _1024 {
                padding-top: 150px;
            }
            @include _620 {
                padding-top: 130px;
            }
        }
    }
    &__title {
        margin-bottom: 80px;
        @include _620 {
            margin-bottom: 60px;
        }
    }
    &__cards {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        width: 1000px;
        max-width: 100%;
        @include _620 {
            gap: 50px;
        }
    }
    &__card {
        flex-basis: calc(50% - 20px);
        max-width: 440px;
        min-height: 185px;
        @include _1024 {
            min-height: 160px;
        }
        @include _620 {
            min-height: 0px;
            flex-basis: 100%;
        }
        &-caption {
            padding-bottom: 20px;
            border-bottom: 1px solid rgba(0, 6, 24, 0.15);
            color: $c-blue;
            @include _620 {
                color: $c-black;
            }
        }
        &-text {
            padding-top: 20px;
            a {
                display: inline-block;
                transition: color 0.22s ease-out;
                &:not([class*=cl-]) {
                    color: inherit;
                }
                &:hover {
                    color: $c-blue;
                }
                & + br + a {
                    margin-top: 8px;
                }
            }
        }
    }
    &__bubble {
        position: absolute;
        top: 0px;
        right: 0;
        width: 728px;
        z-index: -1;
        @include _1024 {
            transform: rotate(-90deg);
            width: 466px;
            right: 0;
            left: 43%;
        }
        @include _620 {
            display: none;
        }
    }
}