.our-cases {
  .swiper {
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    background: $c-blue;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: $c-white;
    border-radius: 20px;
    min-height: 650px;
    height: auto;

    @include _1440 {
      min-height: 100%;
      gap: 40px;
    }

    span {
      font-weight: 800;
    }
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .our-cases__headline {
    font-family: 'CodeNext-Trial';
    font-weight: 600;
    font-size: 80px;
    line-height: 90px;
    letter-spacing: -0.06em;
    text-align: center;

    @include _1280 {
      font-size: 60px;
      line-height: 50px;
    }

    @include _680 {
      font-size: 36px;
      line-height: 36px;
    }
  }

  .our-cases__cards-swiper {
    padding-top: 75px;
    @include _992 {
      padding-top: 35px;
    }
  }

  .our-cases__card-name {
    font-weight: 500;
    font-size: 30px;
    line-height: 35px;
    letter-spacing: -0.06em;
    padding-top: 13px;

    @include _1280 {
      font-size: 30px;
      line-height: 30px;
    }

  }

  .our-cases__card-budget, .our-cases__card-work-time, .our-cases__card-arbitrary-field {
    border-bottom: 1px solid $c-white;

    span {
      font-weight: 800;
    }
  }
}