.information {
  position: relative;
  background-repeat: no-repeat;
  background-position-y: bottom;

  .information__headline {
    width: 60%;
    padding-bottom: 30px;
    @include _1440 {
      width: 100%;
    }

    @include _992 {
      text-align: center;
    }

    @include _680 {
      padding-bottom: 20px;
    }
    span {
      color: $c-blue;
    }
  }

  .information__subheadline {
    span {
      color: $c-blue;
    }

    @include _992 {
      text-align: center;
    }
  }

  .information__cards {
    padding-top: 100px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;

    @include _1440 {
      grid-template-columns: repeat(2, 1fr);
    }

    @include _992 {
      padding-top: 77px;
      gap: 15px;
    }

    @include _680 {
      grid-template-columns: repeat(1, 1fr);
      padding-top: 67px;
    }
  }

  .information__card {
    padding: 30px;
    box-shadow: 0 0 6px 0 rgba(23, 68, 208, 1);
    border-radius: 20px;
    min-height: 275px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: $c-white;

    @include _992 {
      min-height: 190px;
    }
  }

  .information__card:nth-child(2) {
    z-index: -2;
  }

  .information__card-title {
    font-family: 'Onest';
    font-weight: 900;
    font-size: 40px;
    line-height: 44px;

    @include _992 {
      font-size: 28px;
      line-height: 22px;
    }
  }

  .information__background-image {
    position: absolute;
    width: 100%;
    top:60%;
    left:50%;
    transform:translate(-50%, -50%);
    z-index: -1;
    height: 100%;

    @include _1440 {
      display: none;
    }

    img {
      height: 100%;
    }
  }
}